@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:wght@300;400&display=swap');

:root {
    --bg-color: white;
    --btn-color: black;
    --label-color: white;
    --link-color: pink;

}

*,
*::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('./653.jpg');
}

a {
    text-decoration: none;
    color: var(--link-color);
}

.wrapper {
    width: 100%;
    padding: 0.75rem 0.35rem;
}

.wrapper .title {
    text-align: center;
    font-size: 2rem;
    color: white;
}

label{
    color: var(--label-color);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

input {
    position: relative;
    width: 100%;
    border: 1px solid var(--bg-color);
    border-radius: 0.25rem;
    background-color: var(--bg-color);
    padding: 0.75rem 1rem;
}

input:focus,
input:hover {
    outline-color: blueviolet;
    border-color: blueviolet;
}

input[type="button"],
input[type="submit"] {
    cursor: pointer;
    color: white;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
}

.uppercase {
    text-transform: uppercase;
}

.w-full {
    width: 100%;
}

.w-6 {
    height: 1.5rem;
}

.h-6 {
    height: 1.5rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-4 {
    gap: 1rem;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.shrink-0 {
    flex-shrink: 0;
}

/**
** Show Password
**/
.password-eye {
    cursor: pointer;
    position: absolute;
    inset: 0;
    left: auto;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.password-eye svg {
    color: black;
}

.forgot-password {
    --link-color: white;
    color: var(--link-color);
}

.container{
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px){
  .container{
    max-width: 640px
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px
  }

  .wrapper {
    max-width: 25rem;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px
  }

  .wrapper {
    max-width: 32rem;
  }

}

@media (min-width: 1280px){
  .container{
    max-width: 1280px
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px
  }
}
