@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Poppins', sans-serif; 
}
html,body{
    display: flexbox;
    height: 100%;
    place-items: center;
}
body{
    background-image: url('loginBgImage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.wrapper{
   position: absolute;
   top: 25%;
   left: 37%;
   width: 400px;
   background-color: rgb(255, 255, 255);
   border-radius: 16px;
   border: 1px solid deeppink;
   box-shadow: 15px 15px 100px rgb(244, 7, 173);
}
.wrapper .title{
    font-size: 38px;
    color: whitesmoke;
    font-weight: 900;
    text-align: center;
    line-height: 100px;
    background: linear-gradient(-135deg,rgb(233, 47, 208),rgb(225, 210, 210));
    border-radius: 15px 15px 0px 0px;
}
.wrapper form{
    padding: 40px 10px 40px 10px;
}
.wrapper form .field{
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 20px;
}
.wrapper form .field input{
    width: 100%;
    height: 100%;
    font-size: larger;
    padding-left: 20px;
    border-radius: 25px;
    border-color: black;
    transition: all 0.4s ease;
}
.wrapper form .field input:focus{
    border-color: rgb(225, 63, 150);
}
.wrapper form .field label{
    position: absolute;
    top: 20%;
    left: 10px;
}
.wrapper form .field input:focus ~ label,
.wrapper form .field input:valid ~ label{
    top: 0;
    bottom: 20%;
    color: rgb(0, 0, 0);
    transform: translateY(-50%);
    transition: all 0.4s ease;
    font-size: smaller;
}
.wrapper form .pass-link{
    margin: 3% 0 0 1%;
}
.wrapper form .pass-link a{
    text-decoration: none;
    color: rgb(93, 72, 231);
}
.wrapper form .pass-link a:hover{
    text-decoration: underline;
    color: rgb(6, 6, 6);
}
.wrapper form .field input[type="submit"]{
    background: linear-gradient(-135deg,rgb(233, 47, 208),rgb(225, 210, 210));
    font-size: 25px;
    font-weight: 500;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s ease;
}
.wrapper form .field input[type="submit"]:active{
    transform: scale(.80);
}